
# pycharm
.idea/

app/

*.flac
workflow.py
night_workflow.py
generateREADME.py

# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# juyter notebook
.ipynb_checkpoints/

#vim
*.swp
*.un~